@use "../mixins" as mixin;
@use '../base/colors' as color;

.contact__information {
    @include mixin.flex($flex-direction: column);
    gap: 3rem;

}
.information__item {
    @include mixin.flex;
    gap: 1.5rem;

    .item__icon {
        @include mixin.flex;
        width: 4.4rem;
        height: 4.4rem;
    }
    .item__tekst {
        @include mixin.flex($flex-direction: column);
        gap: .5rem;
    }

    @include mixin.breakpoint('min', 'tablet') {
        gap: 3rem;
    }
}

.form__label {
    @include mixin.flex($justify-content: center);
    color: color.$primary;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}