@use "../mixins" as mixin;
@use "colors" as color;

html,
body {
    @include mixin.font-family('body');
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0 0;
    color: color.$black;
    padding-top: 8rem;

    &.preload {
        animation: none;
        transition: none;    
        
        & * {
            animation: none;
            transition: none;    
        }
    } 
    
    @include mixin.breakpoint('min', 'tablet') {
        padding-top: 10rem;
    }
    @include mixin.breakpoint('min', 'laptop') {
        padding-top: 12rem;
    }
}

* {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    margin: 0;
}

img {
    vertical-align: bottom;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

p,
ul,
ol {
    margin: 0 0;
    margin-bottom: 0;
}

ul,
ol {
    display: inline-block;
    padding-left: 2rem;
}

::selection {
    color: color.$secondary;
    background-color: rgba(color.$black, .2);
}

.main {
    position: relative;
    z-index: 2;
    // margin-top: -7.5rem;

    // @include mixin.breakpoint('min', 'laptop') {
    //     margin-top: -12.5rem;
    // }
    // @include mixin.breakpoint('min', 'desktop') {
    //     margin-top: -17.5rem;
    // }
}