$primary: #C3CDBF;
$secondary: #919F88;
$tertiary: #6E7F62;

$accent:#947ea1;

$gray: #909090;
$gray-light: #edebea;

$white: #FFFFFF;
$black: #000000;

$error: #E53935;
$success: #9CCC65;
$warning: #FFCC80;

$dropdown-background: #f3f3f3;

$footer-background-cta: darken(#C3CDBF, 10);
$footer-background: #C3CDBF ;
$footer-text: $black;
$footer-author: $black;

$submenu-background: lighten($primary, 10); 

$content--background: lighten($primary, 10);

$button-primary: #6E7F62;
$button-secondary: #947ea1