$primary: #1463CC;
$secondary: #7994cc;
$tertiary: #557ABC;

$accent:#947ea1;

$gray: #909090;
$gray-light: #edebea;

$white: #FFFFFF;
$black: #000000;

$error: #E53935;
$success: #9CCC65;
$warning: #FFCC80;

$dropdown-background: #f3f3f3;

$footer-background-cta: $tertiary;
$footer-background: $secondary;
$footer-text: $black;
$footer-author: $black;

$submenu-background: #edebea; 

$content--background: lighten($secondary, 10);

$button-primary: #1463CC;
$button-secondary: #FE000C